{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="vh-90">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <section class="vh-90 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration"
                             style="border-radius: 15px; background-color: #282726; color: white">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
                                <form>
                                    <div class="form-outline mb-4">
                                        <input type="email" value="{{ last_username }}"
                                               name="email" id="inputEmail" class="form-control" autocomplete="email"
                                               required autofocus>
                                        <label class="form-label" for="form2Example1">Email address</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password"
                                               id="inputPassword" class="form-control" autocomplete="current-password"
                                               required>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">
                                        <label class="form-label" for="form2Example2">Password</label>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col d-flex justify-content-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="form2Example31" checked/>
                                                <label class="form-check-label" for="form2Example31"> Remember
                                                    me </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <a href="#!">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class=" text-center">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        Sign in
                                    </button>
                                    </div>
                                    <div class="text-center">
                                        <p>Not a member? <a href="{{ path('app_register') }}" class="nav-link"
                                                            style="color: blue;">Register</a></p>
                                        <p>or sign up with:</p>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-facebook-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-instagram"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-github"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>



                                {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                #}

{% endblock %}
