{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="p-5">{{ product.name }}</h1>
    <div class="container-md pt-10 row">
        <div class="col-8">
            <img style="width: 50%;" src="{{ asset(product.image) }}" alt="Symfony!"/>
        </div>
        <div class="col-4 " >
            <table class="table">
                <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>${{ product.price }}</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{{ product.weight }} Kg</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{ product.brandname.name }}</td>
                </tr>
                </tbody>
            </table>
            <input type="number" value="1" min="1" max="1000" step="1"/>
            <br>
            <a href="" class="btn btn-primary m-auto" >ADD</a>
        </div>

    </div>

    {#    <a href="{{ path('app_product_index') }}">back to list</a> #}

    {#    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}

    {#    {{ include('product/_delete_form.html.twig') }}#}
{% endblock %}
