{% extends 'base.html.twig' %}
{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="row d-flex justify-content-start">
                                <div class="image-container col-2">
                                    {% if user.gender=='Male' %}
                                        <img src="{{ asset('images/avatar1.jpg') }}" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    {% elseif user.gender=='Female' %}
                                        <img src="{{ asset('images/avatar2.jpg') }}" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    {% else %}
                                        <img src="{{ asset('images/avatar3.jpg') }}" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    {% endif %}
                                </div>
                                <div class="ml-3 col-8">
                                    <h2 class="d-block" style="font-size: 2.5rem; font-weight: bold;"><a>{{ user.lastname }}</a></h2>
                                </div>
                                <div class="col-2">
                                    <button style="width: 50%; height: 40px; border-radius: 4px; background-color: #5eb5e0;">
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" >Edit</a>
                                    </button>
                                    {{ include('user/_delete_form.html.twig') }}

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.email }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.firstname }} {{ user.lastname }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Birth Date</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.DoB ? user.DoB|date('Y-m-d') : '' }}
                                            </div>
                                        </div>
                                        <hr />


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Gender</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.gender }}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Phone Number</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.phonenumber }}
                                            </div>
                                        </div>
                                        <hr />

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
